html {
    font-family: 'Poppins', sans-serif;
}

/* HEADER */

.header__container {
    background-color: #2C2C2C;
    color: #ffffff;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header__logo {
    padding: 1rem;
}

.header__nav, .header__button {
    display: none;
}

.header__hamburger {
    font-size: 2rem;
    padding: 0.8rem 1.5rem;
}

/* END OF HEADER */

/* HERO */

.hero__container {
    background-image: url(./../images/banner/banner.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    color: #ffffff;
}

.hero__content {
    padding: 3rem 1rem;
}

.hero__header {
    font-size: 2.4rem;
    font-weight: 300;
}

.hero__txt {
    padding: 1rem 0;
}

.hero__button {
    color: #ffffff;
    background-color: #37EBED;
    border: none;
    border-radius: 5px;
    padding: 20px 50px;
    font-size: 1.3rem;
    margin: 2rem 0;
}

.hero__figure {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

/* END OF HERO */

/* FEATURES */

.features__advantages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.advantages__header, .features__summary-header {
    font-size: 2rem;
    font-weight: 300;
    padding: 1rem;
}

.advantages__item {
    max-width: 300px;
}

.advantages__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    border-radius: 20px;
    margin: 2.5rem auto;
}

.advantages__icon--first {
    background-color: #1189F6;
}

.advantages__icon--second {
    background-color: #FDA75C;
}

.advantages__icon--third {
    background-color: #37EF8D;
}

.advantages__description {
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
}

.features__summary {
    margin-top: 150px;
    padding: 0 2rem;
}

.features__summary-txt {
    margin: 2rem auto;
    font-size: 1.1rem;
    font-weight: 300;
}

.features__summary-button {
    padding: 1rem 2rem;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 4px;
    border-radius: 5px;
    background-color: #0181F5;
    border: none;
}

.features__summary-img {
    width: 100%;
    margin: 2rem auto;
}
/* END OF FEATURES */

/* COMMENTS */

.comments {
    background-image: url(./../images/banner/product.png);
    background-size: cover;
    position: relative;
    /* z-index: -2; */
    height: 550px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}
.comments__img-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    /* z-index: -1; */
    opacity: 0.1;
}

.comments__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.comments__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.comments__header {
    font-size: 2rem;
    padding: 1.5rem;
}

.opinion__txt {
    font-size: 1.5rem;
}

.opinion__user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.opinion__stars {
    color: #FFD35A;
    font-size: 1.5rem;
}

/* END OF COMMENTS */

/* PRICING */

.pricing__header {
    height: 200px;
    margin-top: 2rem;
    text-align: center;
}

.pricing__title {
    font-size: 2.2rem;
    font-weight: 300;
    padding: 1.5rem;
}

.option__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    height: 100px;
    background-color: #E9F4FE;
}

.option__header-txt, .option__price {
    font-size: 1.3rem;
    font-weight: 700;
}

.option__price {
    color: #0381F5;
}

.option__atributes--list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 450px;
    font-size: 1.2rem;
}

.option__button {
    font-size: 1.2rem;
    padding: 0.8rem 1.8rem;
    border-radius: 6px;
}

/* END OF PRICING */

/* SUMMARY */

.summary {
    height: 400px;
    background-color: #5DB2FF;
}

.summary__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.summary__txt {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

.summary__download {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.download__app-stores, .download__google-play {
    margin: 0.5rem;
}

/* END OF SUMMARY */

/* FOOTER */

.footer {
    background-color: #1F1F1F;
    color: #ffffff;
    padding-left: 1rem;
    padding-top: 4rem;
}

.footer__option-logo {
    width: 120px;
}

.footer--logo {
    height: 100%;
    width: 100%;
}

.footer__option-text {
    font-size: 1.2rem;
    font-weight: 300;
    padding: 2rem 0;
}

.footer__option-social-list {
    display: flex;
}

.footer a {
    color: #ffffff;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.option-social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin-right: 0.7rem;
    
}

.option-social-item>a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__options-item {
    margin-bottom: 2rem;
}

.footer__option-header {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.footer__option-link  a{
    padding: 1rem 0;
}

.play-store--footer, .app-store--footer {
    display: none;
}

.copyright__container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 150px;
    text-align: center;
}

.copyright__container .colorlib__link {
    color: #4594D1;
}

/* END OF FOOTER */
