/* HERO */

.hero__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 50px;
}

/* END OF HERO */

/* FEATURES */

.advantages__header {
    max-width: 400px;
    text-align: center;
}

.advantages__list {
    display: flex;
    align-items: center;
}

.features__summary {
    display: flex;
    flex-basis: 50%;
    padding-left: 0;
    padding-right: 0;
}

.features__summary-article {
    width: 100%;
}

.features__summary-header {
    padding: 0;
}

.features__summary-picture {
    align-self: center;
}

.comments__img-container, .comments__container {
    padding: 0;
}

/* END OF FEATURES */

/* PRICING */

.pricing__options-list {
    display: flex;
   flex-basis: 33%;
}

.pricing__option {
    width: 100%;
    box-shadow: 0px 5px 6px 0px rgb(0 0 0 / 20%)
}

.pricing__option--team {
    transform:  scaleY(1.1);
}

.option__header {
    padding: 1.5rem;
}

.option__header-txt {
    font-size: 1.2rem;
}

/* END OF PRICING */

/* FOOTER */

.footer {
    padding-left: 0;
}

.footer__options-list {
    display: grid;
    grid-template-areas: 
        "option-A option-B"
        "option-C option-D";
}

.copyright__container {
    height: 100px;
    width: 100%;
}


/* END OF FOOTER */